@page {
  size: 8.5in 11in;
  margin: 0
}

* {
  font-family: helvetica, arial, sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  font-family: helvetica, arial, sans-serif;
}

body {
  padding: 0.75in;
  margin: 0;
}

h1 {
  font-weight: bold;
  font-size: 18pt;
  margin-top: 0;
  margin-bottom: 4pt;
}

em {
  font-size: 12pt;
}

p {
  margin: 0;
  font-size: 11pt;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-weight: bold;
  font-size: 14pt;
  margin-top: 0;
  margin-bottom: 4pt;
}

h3 {
  font-weight: bold;
  font-size: 12pt;
  margin-top: 4pt;
  margin-bottom: 2pt;
}

ul {
  list-style-type: square;
  font-size: 10pt;
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0pt;
}

strong {
  font-weight: bold;
}

hr {
  margin-top: 6pt;
  margin-bottom: 6pt;
}
