@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

@page {
  size: 8.5in 11in;
  margin: 0;
}

html {
  width: 100%;
  margin: 0;
  font-size: 20px;
  background-color: #555;
  color: #333;
}

.dib {
  display: inline-block;
}
.absolute {
  position: absolute;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.top-1 {
  top: 1rem;
}
.right-1 {
  right: 1rem;
}
.w1 {
  width: 1rem;
}
.w-100 {
  width: 100%;
}
.h-auto {
  height: auto;
}
.ml2 {
  margin-left: 0.5rem;
}
.mt3 {
  margin-top: 1rem;
}
.mr3 {
  margin-right: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  padding-bottom: 1.6875rem;
  width: 100%;
  background-color: #fff;
  font-family: "Open Sans";
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

h1,
h2 {
  line-height: 1.25;
  font-weight: 400;
}

p,
ul,
table {
  margin: 0.5rem 1rem;
}

table {
  font-style: normal;
  font-weight: 300;
}

blockquote > p {
  margin: 0;
}

a {
  color: #00449e;
  text-decoration: none;
}

h1,
h1 + p,
h1 + p + blockquote {
  margin: 0;
  padding: 0 1rem 0.5rem 1rem;
  background-color: #eee !important;
  -webkit-print-color-adjust: exact;
}

h1 {
  font-size: 2rem;
  padding-top: 1.6875rem;
}

h1 + p + blockquote {
  float: none;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

h2 {
  clear: both;
  font-size: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
}

blockquote {
  margin-top: 0.5rem;
}

blockquote {
  margin-left: 1rem;
  margin-right: 1rem;
}

p {
  font-size: 0.75rem;
}

blockquote > p {
  float: none;
  padding: 0;
}

table {
  float: none;
  width: calc(100% - 2rem);
  padding: 0.125rem 0 0;
  border-top: solid #777 0.0625rem;
  font-size: 0.75rem;
}

td {
  width: 50%;
}

td:nth-of-type(2) {
  text-align: right;
}

thead {
  display: none;
}

h2 + blockquote {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

blockquote + * {
  clear: both;
}

ul {
  clear: both;
  list-style: none;
}

li {
  position: relative;
  padding-left: 0.5rem;
  margin-bottom: 0.125rem;
  font-size: 0.75rem;
  overflow: hidden;
}

li::before {
  position: absolute;
  left: 0;
  content: "•";
}

thead {
  display: none;
}

@media print, (min-device-width: 768px) {
  body {
    width: 38.25rem;
    margin: 0 auto;
  }

  h1,
  h1 + p {
    padding-left: 2.25rem;
  }

  h1 + p {
    float: left;
  }

  h1 + p + blockquote {
    padding-right: 2.25rem;
  }

  h2 {
    float: left;
    margin-top: 0.5rem;
    margin-left: 2.25rem;
  }

  blockquote {
    float: right;
    text-align: right;
    margin-left: 0;
    margin-right: 2.25rem;
  }

  p,
  ul,
  table {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
  }

  table {
    width: calc(100% - 4.5rem);
  }
}

@media print {
  html {
    font-size: 13pt;
    background-color: #fff;
  }

  body {
    width: 100%;
  }

  h1,
  h1 + p {
    padding-left: 2.4rem;
  }

  h1 + p + blockquote {
    padding-right: 2.4rem;
  }

  h2 {
    margin-left: 2.4rem;
  }

  blockquote {
    margin-right: 2.4rem;
  }

  p,
  ul,
  table {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }

  table {
    width: calc(100% - 4.8rem);
  }

  .screen-only {
    display: none;
  }
}
